.footer {
    background-color: hsl(233, 26%, 24%);
    padding: 50px 120px 100px;
    display: flex;
    justify-content: space-between;
}

.footerMainUl {
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 50%;
}

.footerListItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .socialMediaList {
        display: flex;
        justify-content: space-between;
    }

    & ul:not(.socialMediaList) {
        display: flex;
        flex-direction: column;
        height: 100%;
        color: hsl(0, 0%, 76%);
        justify-content: space-between;

        a {
            transition: color 0.1s linear;

            &:hover {
                color: hsl(192, 70%, 51%);
            }
        }
    }
}

.footerLastDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    small {
        color: hsla(0, 0%, 59%, 0.915);

    }
}

@media (max-width: 900px) {
    .footer {
        flex-direction: column;
        padding: 0 0 20px 0;
    }

    .footerMainUl {
        flex-direction: column;
        width: 70%;
        margin-inline: auto;
        padding: 0;
        margin-top: 25px;
        text-align: center;
        height: fit-content;

        li {
            font-size: 110%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            &:not(.footerListItem) {
                margin: 10px 0 0;
            }

            .socialMediaList {
                margin: 25px 0;
                width: 65%;
            }
        }

    }

    .footerLastDiv {
        row-gap: 40px;
        padding: 15px 0;
        margin-top: 25px;
        align-items: center;
    }
}