.header {
    display: flex;
    justify-content: space-between;
    padding-inline: 120px;
    align-items: center;

    .button {
        border: solid 1px red;
    }
}

@media (max-width: 900px) {
    .header {
        justify-content: space-between;
        padding: 20px;
    }
}